<html>
    <body>
        <form action="/products/form" method="post">

            <div>
                <label for="title">Title</label>
                <input type="text" id="titulo" name="titulo" placeholder="insert title"/>
            </div>
            <div>
                <label for="price">Price</label>
                <input type="text" id="preco" name="preco" placeholder="150.25"/>
            </div>
            <div>
                <label for="description">Description</label>
                <textarea cols="20" rows="10"  id="descricao" name="descricao" placeholder="fale sobre o livro"></textarea>
            </div>

            <input type="submit" value="save"/>
        </form>
    </body>
</html>